[Desktop Entry]
Type=Application
Name=Deep Student
Icon=/usr/share/pixmaps/deep-student.png
Comment=AI驱动的智能学习助手,Deep Student 是一款专为学生设计的AI驱动的智能学习助手。它利用先进的人工智能技术，帮助用户进行错题分析、知识点梳理和个性化学习，从而实现深度理解和高效学习。"
Exec=/usr/bin/deep-student
Categories=Education;

